h1{
    color: red; /*comentario en css - color de la tipografia*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    color:blue;
    font-style: italic;
}

ul{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

li{
    color:blueviolet;
}

p{
    color:brown;
}

.destacados{
    font-size: 20px;
    font-weight: bold;
}

.centrar{
    text-align: center;
}

